* {
    margin: 0px;
    padding: 0px;
}

.topContainer {
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
}

header {
    position: fixed;
}
nav ul li {
    display: inline-flex;
    margin: 5 5 5 5;
}

